





@media screen and (min-width: 1400px) {
    .text-content-section {
        padding: 100px 91px 190px;
    }
    .text-content-section .title h3 {
        padding: 15px 0;
    }
    .menu-header .menu_ ul li {
        margin-right: 60px;
    }
}