html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    text-align: left;
  }
  
  ol, ul {
    list-style: none;
  }
  /* .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
    padding: 0;
  } */
  img {
    max-width: 100%;
    object-fit: cover;
    border: none;
    border-radius: 0;
    box-shadow: none;
    vertical-align: middle;
    display: inline-block;
   

}
h3.title{
  font-size: 35px;
  font-weight: 600;
  text-align: left;
}
.form-group{
  margin-bottom: 10px;
}
.form-group input{
  font-size: 14px;
  height: 40px;
}

