

.menu-mobile{ 
  display:none;
}
@media screen and (max-width: 1204px) {
  .menu-mobile{ 
    display:block;
  }
  .menu_ {
    display: none!important
  }
}
#menu,
.sub-menu {
  display: none;
  list-style: none;
}

/*Change toggle size by adjusting width & height*/
.tb-menu-toggle {
  border: 0;
  position: relative;
  background: transparent;
  cursor: pointer;
  z-index: 2;
  
}
.tb-mobile-menu{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: white;
  padding: 100px 40px 40px;

}

/*Change toggle color here*/
.tb-menu-toggle .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.tb-menu-toggle .icon:nth-child(2) {
  top: 40%;
}

.tb-menu-toggle .icon:nth-child(3) {
  top: 80%;
}

/* Style the active toggle here */
.tb-menu-toggle.tb-active-toggle .icon {}

/*Animation of the toggle*/
.tb-menu-toggle.tb-animate-toggle .icon:first-child,
.tb-menu-toggle.tb-animate-toggle .icon:nth-child(2) {
  top: 40%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tb-menu-toggle.tb-animate-toggle .icon:nth-child(3) {
  top: 40%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}